.git
.github
.env
.env.example
.editorconfig
.npmrc
node_modules
vendor
tests
docker-compose.yml
README.md
fly.toml
.fly
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
database/*.sqlite
phpunit.xml
playwright.config.ts
playwright-report
test-results
e2e
tests
scratch
boost.json
pint.json
.phpunit.result.cache
*.md
